body {
	background-image: url('../resources/ice3.jpg');
  background-repeat: repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

button, input[type="text"] {
  padding: 5px;
}

button {
  margin: 5px;
}

button:hover {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

button, input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}
.label {
  padding: 2px;
}

.hidden {
  display: none;
}

.js-bookmark-element {
  background-color: white;
  opacity: 0.9;
  display: block;
  color: black;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 15px;
}

.container {
  background-color: grey;
  margin: 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bookmark-list {
  list-style: none;
  padding-left: 0;
}

.bookmark-list > li {
  margin-bottom: 20px;
  border: 1px solid grey;
  padding: 20px;
}

.rating-filter {
  background: linear-gradient(white, grey);
}

.error {
  color: red;
  margin-left: 5px;
}
 
label.error {
  display: inline;
}

/* responsive stuff */
.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}
.col-3, .col-4, .col-6, .col-12 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

.col-3, .col-4, .col-6, .col-12 {
  width: 100%;
}

@media only screen and (min-width: 640px) {

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33333333%;
  }

  .col-6 {
    width: 50%;
  }

  .col-12 {
    width: 100%;
  }
}